<!doctype html>

<html lang="en">
<head>
</head>
<body>
    <a href="https://someoutofdomainlink.com">bar</a>
    <a href="http://someoutofdomainlink.com">bar</a>
    <a href="www.someoutofdomainlink.com">bar</a>
</body>